<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="servidorSmtp" value="smtp.gmail.com"/>
    <add key="portaSmtp" value="25"/>
    <add key="emailSmtp" value="recomendados@gmail.com"/>-->
    <add key="loginSmtp" value="login"/>
    <add key="senhaSmtp" value="senha"/>
    <add key="nomeSmtp" value="Recomendador"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>